{% extends 'base.html' %}

{% block title %}Library Store{% endblock %}

{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Reserva Venta</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">            
            <a href="" class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Crear Reserva Venta</span>
            </a>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Descripción</th>
                        <th>FechaInicio</th>
                        <th>FechaFin</th>
                        <th>Estado</th>
                        <th>Acciones</th>                        
                    </tr>
                </thead>                
                <tbody>
                    {% for reservation_sale in reservation_sale_list %}
                    <tr>
                    <td><img src="{{ reservation_sale.image.url }}" alt="" width="50"></td>
                    <td>{{ reservation_sale.date }}</td>
                    <td>{{ reservation_sale.total }}</td>
                    <td>{{ reservation_sale.description }}</td>
                    <td>{{ reservation_sale.start_date }}</td>
                    <td>{{ reservation_sale.end_date }}</td>
                    <td>{{ reservation_sale.status }}</td>                                       
                    <td>
                        <form action="{% url 'reservation_sale_status' reservation_sale.id %}" method="POST">
                            {% csrf_token %}                            
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch{{ forloop.counter }}" {% if reservation_sale.status %} checked {% endif %} onchange="this.form.submit()">
                                <label class="custom-control-label" for="customSwitch{{ forloop.counter }}"></label>
                            </div>                     
                        </form>
                    </td>
                    <td>
                        <a href="" class="btn btn-info btn-circle btn-sm">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="" class="btn btn-warning btn-circle btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                    </tr>
                    {% endfor %}                                     
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}